<?xml version="1.0" encoding="UTF-8"?>
<settings
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd"
    xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <servers>
        <server>
            <id>codehaus.org</id>
            <username>user</username>
            <password>pass</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>grepo</id>

            <properties>
                <pmd.ruleset-file>/home/dguggi/data/dev/eclipse/grepo/grepo-ruleset.xml</pmd.ruleset-file>
            </properties>

            <repositories>
                <!-- grepo repos -->
                <repository>
                    <id>codehaus-releases</id>
                    <url>http://repository.codehaus.org</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </repository>
                <repository>
                    <id>codehaus-snapshots</id>
                    <url>http://snapshots.repository.codehaus.org</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                </repository>
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>com.springsource.repository.bundles.release</id>
                    <name>SpringSource Enterprise Bundle
                        Repository</name>
                    <url>http://repository.springsource.com/maven/bundles/release</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>grepo</activeProfile>
    </activeProfiles>
</settings>
